* {
    margin: 0px;
}

body {
    background: url(../images/Fone2.png) fixed;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.senar {
    font-size: 300%;
    font-weight: bolder;
    display: inline-block;
}

.senar>pa {
    font-size: 50%;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
}

.adres {
    font-size: 150%;
    font-weight: bolder;
    font-style: italic;
    display: inline-block;
    margin-left: 20px;
}


/* верхняя навигационная панель */

.nav-container>nav>ul {
    width: 85%;
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0cm;
    /* 245 195 47 */
    background-color: rgb(238, 192, 106);
}

.nav-container>nav>ul>li>a {
    display: flex;
    font-size: 110%;
    font-weight: bolder;
    padding: 10px;
    border-style: none;
    border-width: 1.2px;
    color: rgb(13, 3, 82);
}

.zagolovok {
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
    width: 85%;
    height: 30%;
    background-color: rgb(250, 181, 5);
}

.conteiner {
    padding-left: 10px;
    margin-top: 20px;
    width: 80%;
    text-align: justify;
}

span {
    font-weight: bold;
    font-size: 120%
}


.Vert {
    display:inline-block;
    margin-left: 50px;
    width: 30%;
    vertical-align: middle;
}
.Vert>ul>li {
    font-size: 150%;
    padding-top: 15%;
    font-weight: bolder;
}
.image {
    vertical-align: middle;
    display: inline-block;
    width: 10%;
}

.image>img {
    width: 400px;
}



.character1 {
    margin-left: 50px;
    margin-top: 10px;
    font-size: 190%;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

.character1>ul {
    padding-top: 40px;
    padding-left: 40px;
    text-align: left;
    font-weight: bold;
    list-style: square;
}

.character1>ul>li {
    padding-top: 5%;
    padding-left: 40px;
    text-align: left;
    font-size: 65%;
    font-weight: bold;
}

.PanUp1 {
    margin-left: 50px;
    width: 60%;
    padding-top: 100px;
    padding-left: 100px;
    text-align: left;
    font-size: 200%;
    font-weight: bolder;
}

.character2 {
    margin-left: 50px;
    width: 60%;
    padding-top: 100px;
    text-align: left;
    font-size: 200%;
}



.PanUp2 {
    margin-left: 50px;
    width: 60%;
    padding-top: 100px;
    padding-left: 100px;
    text-align: left;
    font-size: 200%;
    font-weight: bolder;
}

.panel {
    margin-left: 50px;
    width: 60%;
    padding-top: 100px;
    text-align: left;
    font-size: 200%;
}


